.hover-text:hover {
    color: #dc4e3f !important;
}

.product-card h4 {
    font-size: 12px;
}

.product-card h3 {
    font-size: 14px;
    height: 42px;
}

.btn-detail {
    width: 100%;
}

.cart-shopping:hover>.cart-icon,
.cart-shopping:hover>.cart-link {
    color: #dc4e3f !important;
}

.cart-shopping:hover>.shopping-container {
    display: block;
}


.empty-cart {
    width: 100%;
}

.shopping-container::before {
    position: absolute;
    height: 45px;
    width: 300px;
    top: -45px;
    content: "";
}

.shopping-container {
    display: none;
    max-height: 340px;
    background-color: #fff;
    width: 330px;
    top: 55px;
    right: -80px;
    z-index: 99;
    box-shadow: 0 1px 1px 1px #ccc;
}

.shopping-body {
    padding: 20px 10px;

}
.shopping-item-container > .empty-cart {
    width: 200px;
    margin-right: auto;
    margin-left: auto;
}


.shopping-list {
    max-height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-bottom: 1px dashed #ccc;
}

.shopping-item-name {
    white-space: nowrap;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;

}

.shopping-item-img {
    width: 80px;
    height: 80px;
}

.shopping-item-name,
.shopping-item-price,
.shopping-item-quantity {
    font-size: 14px;
    color: #000;
}

.shopping-item-price {
    color: rgb(63, 62, 62);
    font-weight: 300;
}

.shopping-item-quantity {
    padding: 0 10px;
    width: 32px;
    height: 24px;
}
.cart-delete:hover {
    opacity: 0.7;
}
.cart-delete {
    padding: 4px 0;
    cursor: pointer;
    
}

.btn-see-more {
    height: 42px;
    width: 252px;
    background: black;
    margin: 20px;
    /* float: left; */
    border: 0px;
    color: #fff;
    box-shadow: 0 0 1px #1c1c1c;
    -webkit-transition-duration: 0.45s;
    -webkit-transition-timing-function: ease-in;
    box-shadow: 0px 0 0 #fff inset;
}

.btn-see-more-sm {
    height: 42px;
    width: 120px;
    background: black;
    margin: 20px;
    /* float: left; */
    border: 0px;
    color: #fff;
    box-shadow: 0 0 1px #1c1c1c;
    -webkit-transition-duration: 0.45s;
    -webkit-transition-timing-function: ease-in;
    box-shadow: 0px 0 0 #fff inset;
}



.btn-see-more a {
    width: 100%;
    display: inline-block;
    padding: 9px 0;
}
.btn-see-more-sm:hover,
.btn-see-more:hover {
    -webkit-box-shadow: -252px 0 0 #fff inset;
    color: #1c1c1c;
    border: 1px solid #1c1c1c;

}

.btn-see-more:hover a {
    color: #1c1c1c !important;
}

.btn-pay {}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.user-icon {
    /* display: none; */
}

.account:hover .account-control {
    display: block;
}

.account{
    display: none;
}

.account-control {
    text-align: center;
    padding: 10px 10px;
    top: 20px;
    left: -70px;
    height: 79px;
    width: 150px;
    box-shadow: 1px 1px 1px 2px #ccc;
    background-color: #fff;
    display: none;
    z-index: 10;
}

.account-control a {
    font-size: 14px;
    text-decoration: none;
    color : #000;
}
.account-control div {
    margin-bottom: 10px;
}
.warning-message {
    color: red;
    display: none;
}
.invalid ~ .warning-message {
    display: block;
}


.dropdown-menu {
    width: 200px;
    margin: 0;
    padding: 0;
    top: 100% !important;
    border-radius: 0;
    left: 0;
    /* left: -20px !important;  */
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 15%);
    position: relative;
}
.nav-item,
.dropdown-item  {
    font-size: 1.4rem;
    padding: 6px 10px;
}
.header-dropdown-menu li:last-child {
    padding-bottom: 5px;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

.submenu{
    top: 0!important;
    width: 200px;
    position: absolute;
    left: 100%!important;
}