
.hover-text:hover {
    color: #dc4e3f !important; 
}

.product-card h4 {
    font-size: 12px;
}
.product-card h3 {
    font-size: 14px;
    height: 42px;
}

.btn-detail {
    width: 100%;
}
.cart-shopping:hover > .cart-icon,
.cart-shopping:hover > .cart-link {
    color: #dc4e3f !important;
}

.cart-shopping:hover > .shopping-container {
    display: block;
}

.shopping-container::before {
    position:absolute;
    height: 45px;
    width: 300px;
    top: -45px;
    content: "";
}

.shopping-container {
    display: none;
    height: 340px;
    background-color: #fff;
    width: 300px;
    top: 55px;
    z-index: 2;
    box-shadow: 0 1px 1px 1px #ccc;
}

.shopping-body {
    padding: 20px 10px; 
    
}

.shopping-list {
    max-height: 220px;
    overflow-y: scroll;
    border-bottom: 1px dashed #ccc;
}

.shopping-item-img {
    width: 80px;
    height: 80px;
}

.shopping-item-name,
.shopping-item-price,
.shopping-item-quantity {
    font-size: 14px;
    color: #000;
}

.shopping-item-price {
    color: rgb(63, 62, 62);
    font-weight: 300;
}

.shopping-item-quantity {
    padding: 0 10px;
}

.cart-close {
    padding: 4px 0;
   
}

.btn-see-more{
    height: 42px;
    width: 252px;
    background: black;
    margin: 20px;
    /* float: left; */
    border:0px;
    color:#fff;
    box-shadow: 0 0 1px #1c1c1c;
    -webkit-transition-duration: 0.45s;
    -webkit-transition-timing-function: ease-in;
    box-shadow:0px 0 0 #fff  inset;
}

.btn-see-more a {
    width: 100%;
    display: inline-block;
    padding: 9px 0;
}

.btn-see-more:hover{
    -webkit-box-shadow: -252px 0 0 #fff inset;
    color: #1c1c1c;
    border:1px solid #1c1c1c;

}

.btn-see-more:hover a {
    color: #1c1c1c !important;
}

.btn-pay {
    
}
