html {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    
}

body {
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 500;
    box-sizing: border-box;
}

#header{
    position: fixed;
    width: 100%;
    height: 134px;
    z-index: 1;
    background-color: #fff;
}

.top-header {
    height: 90px;
}
.log-out {
    display: none;
}

.slider {
    padding-top: 135px;
}

.header-dropdown-menu {
    width: 200px;
    margin: 0;
    padding: 0;
    top: 100% !important;
    border-radius: 0;
    left: -20px !important; 
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 15%);
    position: relative;
}

.dropdown-item {
    font-size: 1.4rem;
    padding: 6px 10px;
}
.header-dropdown-menu li:last-child {
    padding-bottom: 5px;
}

.dropdown:hover .header-dropdown-menu {
    display: block;
}




/* #header .dropdown::after {
    content: "";
    height: 10px;
    width: 100%;
    background-color: #000;
    position: absolute;
    
 } */


 .cart-quantity {
    top: -87%;
    left: 58%;
    font-size: 9px;
    background-color: #1c1c1c;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    text-indent: 2px;
    font-weight: 500;
    min-width: 20px;
    height: 20px;
    line-height: 19px;
    
 }

 .card-sticker {
     top: 5%;
     width: 100px;
     font-size: 12px;
     background-color: #410099;
     color: #fff;
 }
 .breadcrumb {
    background: rgba(245, 245, 245, 0); 
    border: 0px solid rgba(245, 245, 245, 1); 
    border-radius: 25px; 
  }
  
.img-blog:hover {
    transform: scale(1.1);
}
.card-body {
    margin-top: 1rem;
}

.form-style {
    /* ??? */
}
.img-blog{
    height: 250px;
    width: 250px;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -webkit-transition-duration: 0.45s;
    letter-spacing: 0.25px;
}

ul {
    padding: 0;
    list-style-type: none;
}
.cardhv:hover {
    transform: scale(1.2);

}
.card-img-top{
    background-color: black;
}
.card-img-top ~ .card-img-overlay {
    top: 70%;
    margin-left: 20px;
}

.btn-category{
    height: 42px;
    width: 150px;
    background: white;
    margin: 20px;
    /* float: left; */
    border:0px;
    color: black;
    box-shadow: 0 0 1px white;
    -webkit-transition-duration: 0.45s;
    -webkit-transition-timing-function: ease-in;
    box-shadow:0px 0 0  black  inset;
}
.btn-category:hover{
    -webkit-box-shadow: -252px 0 0 rgba(255, 255, 255, 0.1) inset;
    
    color: black;
    border:1px solid white;

}
.text-category {
    text-shadow : 1px 1px 1px #1c1c1c;
}
h4{
    color: #bfbfbf;
}
.form-control {
    height: 40px;
    padding: 0 20px 0 20px;
}
input{
    width: 85%;
    height: 40px;
    padding: 15px;
    border: none;
    outline: none;
    background-color: #f0f0f0;
}
.payment-method {
    display: flex;
    justify-content: space-between;
}