html {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    
}

body {
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 500;
    box-sizing: border-box;
}

.col-2_4 {
    flex: 0 0 auto;
    width: 20%;
    
}


#header{
    position: fixed;
    width: 100%;
    height: 134px;
    z-index: 1;
    background-color: #fff;
}

.top-header {
    height: 90px;
}

.slider {
    padding-top: 135px;
}

.header-dropdown-menu {
    width: 200px;
    margin: 0;
    padding: 0;
    top: 100% !important;
    border-radius: 0;
    left: -20px !important; 
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 15%);
    position: relative;
}

.dropdown-item {
    font-size: 1.4rem;
    padding: 6px 10px;
}
.header-dropdown-menu li:last-child {
    padding-bottom: 5px;
}

.dropdown:hover .header-dropdown-menu {
    display: block;
}
 .hover-text:hover {
     color: #dc4e3f !important; 
 }
 h4{
    color: #bfbfbf;
}
.form-control {
    height: 40px;
    padding: 0 20px 0 20px;
}
input{
    width: 85%;
    height: 40px;
    padding: 15px;
    border: none;
    outline: none;
    background-color: #f0f0f0;
}
.btn-see-more{
    height: 42px;
    width: 252px;
    background: black;
    margin: 20px;
    /* float: left; */
    border:0px;
    color:#fff;
    box-shadow: 0 0 1px #1c1c1c;
    -webkit-transition-duration: 0.45s;
    -webkit-transition-timing-function: ease-in;
    box-shadow:0px 0 0 #fff  inset;
}
.btn-see-more:hover{
    -webkit-box-shadow: -252px 0 0 #fff inset;
    color: #1c1c1c;
    border:1px solid #1c1c1c;

}
.payment-method {
    display: flex;
    justify-content: space-between;
}
.background-top {
    padding-top: 135px;
}
.card-background {
    background-image: url("/img/magazine/evo-blog-banner.jpg");
    background-repeat: no-repeat;
    height: 360px;
}
.card-body {
    margin-top: 1rem;
}
.img-blog{
    height: 250px;
    width: 250px;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -webkit-transition-duration: 0.45s;
    letter-spacing: 0.25px;
}
.img-blog:hover {
    transform: scale(1.1);
}
.page-item {
    width: 28px;
    height: 28px;
    text-align: center;
}
.bread-padding {
    padding-left: 7%;
}
.color-element{
    height: 35px;
    width: auto;
}
.img-select-color{
    height: 30px;
    width: 30px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.active {
    color: #1c1c1c !important;
}
.img-product-cart   {
    height: 180px;
    width: 180px;
}
.btn-delete {
    text-decoration: none;
}
.btn-delete:hover {
    text-decoration:underline ;
}
.btn-see-more{
    height: 42px;
    width: 252px;
    background: black;
    margin: 20px;
    /* float: left; */
    border:0px;
    color:#fff;
    box-shadow: 0 0 1px #1c1c1c;
    -webkit-transition-duration: 0.45s;
    -webkit-transition-timing-function: ease-in;
    box-shadow:0px 0 0 #fff  inset;
}

.btn-see-more a {
    width: 100%;
    display: inline-block;
    padding: 9px 0;
}

.btn-see-more:hover{
    -webkit-box-shadow: -252px 0 0 #fff inset;
    color: #1c1c1c;
    border:1px solid #1c1c1c;

}

.btn-see-more:hover a {
    color: #1c1c1c !important;
}
.btn-continue{
    height: 42px;
    width: 252px;
    background: #fff;
    margin: 20px;
    /* float: left; */
    border:1px solid #000;
    color:#000;
    box-shadow: 0 0 1px #1c1c1c;
    -webkit-transition-duration: 0.45s;
    -webkit-transition-timing-function: ease-in;
    box-shadow:0px 0 0 #fff  inset;
}

.cart-shopping-list {
    height: 300px;
    background-color: #fff;
    box-shadow: 0 0 1px #1c1c1c;
    width: 300px;
    position: absolute;
    top: 30px;
    z-index: 2;
}
.cart-quantity {
    top: -87%;
    left: 58%;
    font-size: 9px;
    background-color: #1c1c1c;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    text-indent: 2px;
    font-weight: 500;
    min-width: 20px;
    height: 20px;
    line-height: 19px;
    
 }

 .card-sticker {
     top: 5%;
     width: 100px;
     font-size: 12px;
     background-color: #410099;
     color: #fff;
 }