body{
    margin: 0;
}

.block__menu {
    background-color:#0F1824;
    box-sizing: inherit;
    text-shadow: 1px;
    color: azure;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
}

.block__head {
    display: flex;
    justify-content: end;

}
.block__logo{
    height: 50px;
    width: 140px;
}

.block__icon {
    margin: 10px;
    filter:invert(40%) ;
}
.block__items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.block__content{
    vertical-align: middle;
    text-align: center;
    margin-right: 10px;
}
.block__title{
    text-decoration: none;
    font-size: 30px;
    filter:invert(40%) ;
}
.header{
    display: flex;
    justify-content: space-between;
}
.btn--cus{
    border: 0px solid #b1154a;
}
.btn--cus:hover{
    background-color: 	#ADD8E6;
    border-radius: 10px;
}
.main__content{
    border-radius: 10% !important;
}
.main__funtion{
    justify-content: space-between;
    margin-bottom: 50px;
}
h3{
    font-size: 20px;
}
.main__items{
    text-align: center;
}
.end{
    display: flex;
    align-items: center;
    justify-content: end;
    background-color:#0F1824;
    box-sizing: inherit;
    color: azure;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 10%;
    opacity: calc(0.7);
}
a{
    text-decoration: none;
}
.main__accessory{
    max-height: 300px;
}
.access__content{
  width: 145pxpx;
  height: 240px;
  overflow: auto;
}
.img--cus{
    width: 48px;
    height: 48px;
    margin-right: 8px;
}
.contact{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.foot__contact{
    display: flex;
    align-items: center;
    margin-right: 45px;
}
.con--cus{
    width: 180px;
    height: 60;
}
.item-view-report{
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.inner_item,.inner_item_sub {
    margin: 10px;
    text-align: center;
    height: 130px;
    border-radius: 10px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-flow: column;
    flex-flow: column;
    background: #fff;
    position: relative;
}
.header--main{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}
.main__item{
    justify-content: space-between;
    margin-right: 20px;
}
.field .form-group{
    display: flex;
}
.main__header{
    justify-content: space-between;
    margin-right: 20px;
}
.sp{
    justify-content: space-between;
}
.item--cus{
    margin-left: 5px;
    margin-right: 5px;
}
.cost{
    margin-left: 20px;
}
.body--item{
    margin-left: 20px;
    margin-right: 20px;
}
.form__kh{
    justify-content:space-between;
}
.help{
    margin-left: 50px;
    margin-right: 50px;
}
.img__sp{
    margin-right: 70px;
}
.hidden{
    display: none;
}
.card-body{
    margin: 8px;
    display: flex;
    justify-content: center;
}
.MuiGrid-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-around;
}
.jss1881 {
    margin: 0 24px;
    display: flex;
    padding: 24px 0px 18px 0;
    border-bottom: 1px solid #E8EAEB;
    justify-content: space-between;
}
.form__name{
    margin-left: 20px;
    margin-right: 20px;
}
.input-group-append {
    cursor: pointer;
  }
.jss1918 {
    width: 100%;
    height: calc(100% - 63px);
    display: flex;
    padding: 0 24px 16px 24px;
    flex-direction: column;
}
.list{
    text-align: start !important;
}