.menu{
    margin: 0; /* all list items */
	padding: 0;
	border-right: 1px solid #75AAD2;
	cursor: pointer;
    width: 100%;
}

.item{
    width: 14.28%;
    color: #FFFFFF;
    height: 100% !important;
    font-weight: 650;
    overflow: auto;
    box-shadow: 5px 10px 8px #888888;
}
.block__nav{
    /* background-color: #808080;
    opacity: 0.3; */
}
a{
    text-decoration: none;
}
.item a.active:hover,
.item a.active:active,
.item a.active:focus {
    color: #546edb;
	background-color: rgba(0, 0, 0, 0.1);
}
.but{
    margin-top: 20px;
    justify-content:space-between;
}
table{
    table-layout: fixed;
    width: 100%;
}
img.cangiua {display: block; margin-left: auto; margin-right: auto;

}
img{
    display: block;
    max-width: 50%;
    max-height: 50%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.main__header{
    justify-content: space-between;
    margin-right: 20px;
}
.list__item{
    justify-content:space-between;
}
.btn-see-more {
    height: 42px;
    width: 65px;
    background: black;
    margin: 20px;
    margin-left: 0;
    /* float: left; */
    border: 0px;
    color: #fff;
    box-shadow: 0 0 1px #1c1c1c ;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-in;
    box-shadow: 0px 0 0 #fff inset;
 }
 .btn-see-more:hover{
    -webkit-box-shadow: -252px 0 0 #fff inset;
    color: #1c1c1c;
    border:1px solid #1c1c1c;
 }
.form-add-user,
.form-add-slider,
.form-add-category,
.form-add-product {
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0px;
    bottom: 0;
    z-index: 22;
    display: none;
}
.form-add-slider,
.form-add-user,
.form-add-category {
    background-color: rgba(0, 0, 0, 0.5);
}
.form-add-user .form-add-body{
    margin-top: 40px;
}

.form-add-body {
    width: 60%;
    margin-top: 80px;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
    box-shadow: 1px 1px 1px 1px #ccc;
}

.cancel-btn,.add-btn,.update-btn {
    width: 150px;
    border-radius: 0 !important;
}

.update-btn {
    display: none;
}

.isEditing .add-btn {
    display: none;
}

.isEditing .update-btn {
    display: block;
}
